@import url('https://fonts.googleapis.com/css?family=Lobster|PT+Sans');

body {
	margin:0;
	padding: 0;
	color:#eaeaea;
	font-family: 'PT Sans', sans-serif;
}


}
#tasks {
	list-style: none;
	padding: 0;
	margin: 0;
}
.wrapper {
	display: grid;
	grid-template-columns:1fr 4fr;
	grid-template-rows: 45px 6fr 6fr 1fr ;
	grid-template-areas:
		'header header'
		'sidebar  current-tasks'
		'sidebar old-tasks'
		'footer footer';
}
.header {
	line-height:5%;
	grid-area: header;
	background-color: #3d3d3d;
	font-family: 'Lobster', sans-serif;
}
.current-tasks {
	grid-area: current-tasks;
	background-color: #565656;
}
.old-tasks {
	grid-area: old-tasks;
	background-color: #565656;
}
.footer {
	grid-area:footer;
	background-color: #3d3d3d;
}
.sidebar{
	grid-area:sidebar;
	background-color: #494949;
}
a {
	text-decoration: none;
	color:#eaeaea;
}
