body {
}

#tasks {
	list-style: none;
	padding: 0;
	margin: 0;
}
.wrapper {
	display: grid;
	grid-template-columns:1fr 2fr 2fr;
	grid-template-rows: 1fr 300px 4fr 1fr;
	grid-gap : 10px;
	grid-template-areas:
		'sidebar header header'
		'sidebar graphs graphs'
		'sidebar new-tasks current-tasks'
		'sidebar footer footer';
}
.header {
	grid-area: header;
	background-color: #4ba7b7;
	border-radius: 5px;
}
.current-tasks{
	grid-area: current-tasks;
	background-color: #5f9da8;
	border-radius: 5px;
}
.new-tasks {
	grid-area: new-tasks;
	background-color: #447d87;
	border-radius: 5px;
}
.graphs {
	grid-area: graphs;
	background-color: #53696d;
	border-radius: 5px;
}
.footer{
	grid-area:footer;
	background-color: #172a2d;
}
.sidebar{
	grid-area:sidebar;
	background-color: #751108;
}
